@model IEnumerable<CondominioEstribo.Models.GerenciarEntradaPortaria>

@{
    ViewBag.Title = "Registrar Saída De Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="well">
        <h2>Registrar Saída De Pessoas</h2>
        <br />
        <br />
        @using (Html.BeginForm("Index", "GerenciarEntradaPortaria", FormMethod.Post))
        {
            <p><b>Buscar por Placa</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(OBS: Para Visitantes sem Veículo Informar SEMPLACA)</p>
            <div class="form-horizontal">
                <div class="col-md-3">
                    @Html.TextBox("txtPlaca", "", new { @class = "form-control", placeholder = "Informe a Placa do Veículo", autofocus = "autofocus", tabindex = "1" })
                </div>
                <div class="col-md-0">
                    <button type="submit" class="btn btn-warning" tabindex="2">Pesquisar</button>
                    @Html.ActionLink("Cancelar", "Index", new { area = "Index", controller = "Home" }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
        <br />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        RG
                    </th>
                    <th>
                        Data Da Entrada
                    </th>

                    <th>
                        Placa Do Veículo
                    </th>
                    <th>
                        Obervação
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="active">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHoraEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaDoVeiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.GerenciarEntradaPortariaId }, new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Registrar Saída", "Edit", new { id = item.GerenciarEntradaPortariaId }, new { @class = "btn btn-warning btn-xs" })
                        @*<button type="submit" class="btn btn-danger btn-xs" onclick="MensagemConfirma('Atenção', 'Deseja Realmente Inativar este Veículo ?', '@Url.Action("InativarRegistro","GerenciarEntradaPortaria", new { id = item.GerenciarEntradaPortariaId})')">Inativar</button>*@
                    </td>
                </tr>
            }

        </table>
        <br />
        @Html.ActionLink("Cancelar", "Index", new { area = "Index", controller = "Home" }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />
<br />