@model CondominioEstribo.Models.Visitante

@{
    ViewBag.Title = "Detalhes Do Visitante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="well">
    <h2><b>Detalhes Do Visitante</b></h2>

    <br />
    <br />


    <div>
        <dl class="dl-horizontal">
            <dt>
                <h4><b>Nome Visitante:</b></h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.NomeVisitante)</h4>
            </dd>

            <dt>
                <h4><b>Entrada:</b></h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.DataEntrada)</h4>
            </dd>

            <dt>
                <h4><b>Saída:</b></h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.DataSaida)</h4>
            </dd>

            <dt>
                <h4><b>Proprietario:</b></h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.proprietario.Nome)</h4>
            </dd>
           
            <dt>
                <h4><b>Observação:</b></h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Observacao)</h4>
            </dd>
            <dt>
                <h4><b>Placa:</b></h4>
            </dt>

            <dd>
                <h4>@ViewBag.placa</h4>
            </dd>

        </dl>
    </div>


    <br />

    <div class="row">
        @*<div class="col-md-1">
                @Html.ActionLink("Editar", "Edit", new { id = Model.VisitanteId }, new { @class = "btn btn-warning" })
            </div>*@
        <div class="col-md-1">
            @Html.ActionLink("Cancelar", "Index", new { area = "Index", controller = "Home" }, new { @class = "btn btn-danger" })
        </div>
    </div>

</div>



<br />