
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(function () {
        $("#txtProprietario").autocomplete({
            source: '@Url.Action("GetProprietario")'
        });
    });
</script>

<!DOCTYPE html>


    @using (@Html.BeginForm("buscarPorProprietario", "Contas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

      <br />
      <br />

    <div class="well">


        <div class="form-group">
            @Html.Label("lblProprietario", " Insira o Proprietario*", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("proprietario", null, new { id = "txtProprietario", @class = "form-control", placeholder = "Informe o Proprietário", required = "true" })
            </div>
        </div>           
        <br />
        <div>

            @*<div class="form-group">
                @Html.Label("lblMes", " Insira a Data*", new { @class = "control-label col-md-2", required = "true" })
                <div class="col-md-10">
                    <input type="month" name="ano" class="form-control" , placeholder = "Informe o Ano ex: 2015">
                </div>
            </div>*@            

            <div class="form-group" >
                @Html.Label("lblMes", " Data*", new { @class = "control-label col-md-2", required = "true" })
                <div class="col-md-10">
                    <input type="datetime" name="ano" class="form-control" placeholder="selecione o Ano">
                </div>
            </div>
        </div>


        <input type="submit" value="Enviar" />
    </div>
    }

@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {
            $('input[type=datetime]').datepicker({
                showButtonPanel: true,
                changeYear: true,
                dateFormat: 'yy',
                onClose: function (dateText, inst) {
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, 1))
                }
            });
        });
    </script>
}
};

<style type="text/css">
    .ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker-month {
        display: none;
    }

</style>




@*@section Scripts {
    <script type="text/javascript" language="javascript">
        $(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                //nextText: 'Proximo',
                //prevText: 'Anterior',
                showOn: "button"
            }).css("display", "inline-block")
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                //label: "Selecione uma data",
                text: false
            });
        });
    </script>*@



