
@{
    ViewBag.Title = "relatorioDetalhadoRetorno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />


<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
           // dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable1').DataTable({
            //dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable2').DataTable({
           // dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<br />
<br />

<div class="well">


    <label>
        referentes ao mes    @Html.Raw(ViewBag.Mes)
    </label>
    <table cellspacing="2" cellpadding="2" border="1" id="myTable">
        <thead>
            <tr>
                <th>     Nome        </th>
                <th>  data do titulo </th>
                <th>data do pagamento</th>
                <th>    valor       </th>
                <th>    fonte       </th>
                <th>    codigo      </th>
                <th>    lote        </th>
                <th>    pago        </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var c in ViewBag.listarContas)
            {


                <tr>

                    <td>@c.proprietario.Nome </td>
                    <td> @c.datatitulo.ToShortDateString()     </td>
                    <td> @c.datapagamento.ToShortDateString()      </td>
                    <td> @c.valor </td>
                    <td> @c.fonte </td>
                    <td> @c.codigo </td>
                    <td> @c.lote </td>
                    <td> @c.pago </td>


                </tr>


            }
        </tbody>



    </table>
    <label>
        valor total    @Html.Raw(ViewBag.MensalidadesPagas)
    </label>
    <br />
    <br />

    <table cellspacing="2" cellpadding="2" border="1" id="myTable1">
        <thead>
            <tr>
                <th>     Numero da Nota    </th>
                <th>     data     </th>
                <th>   Valor da Nota    </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var nf in ViewBag.NotasFiscais)
            {
                <tr>

                    <td> @nf.NumeroDaNota </td>                    
                    <td> @nf.Data.ToShortDateString()  </td>
                    <td> @nf.Valor  </td>




                </tr>
            }
        </tbody>
    </table>
    <label>
        valor total    @Html.Raw(ViewBag.totalMercadorias)
    </label>
    <br />
    <br />
    <table cellspacing="2" cellpadding="2" border="1" id="myTable2">
        <thead>
            <tr>
                <th>     Tipo da Obra        </th>
                <th>     Descrição da Obra     </th>
                <th>     Status da Obra   </th>
                <th>     Valor da Obra      </th>
                <th>     Data de Início        </th>
                <th>     Data de Término       </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in ViewBag.listaDeObras)
            {
                <tr>

                    <td> @c.TipoObra </td>
                    <td> @c.DescricaoObra  </td>
                    <td> @c.StatusObra     </td>
                    <td> @c.ValorObra  </td>
                    <td> @c.DataInicioObra.ToShortDateString()  </td>
                    <td> @c.DataTerminoObra.ToShortDateString()  </td>




                </tr>
            }
        </tbody>

    </table>
    <label>
        valor total    @Html.Raw(ViewBag.totalObras)
    </label>
    <br />
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
