@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succes</title>
</head>
<body>

    <label class="caption"> lista de titulos pagos</label>
    <div> </div>
    <label>
        titulos salvos    @Html.Raw(ViewBag.contador)
    </label>


    <table cellspacing="2" cellpadding="2" border="1">
        <tr>

            <th>     Nome        </th>
            <th>  data do titulo </th>
            <th>data do pagamento</th>
            <th>    valor       </th>
            <th>    fonte       </th>
            <th>    codigo      </th>
            <th>    lote        </th>
            <th>    pago        </th>

        </tr>






        @foreach (var c in ViewBag.listarContas)
        {

            foreach (var p in ViewBag.ListaProprietario)
            {
                if (@c.proprietarioid == @p.UsuarioId)
                {

                    <tr>

                        <td> @p.Nome </td>
                        <td> @c.datatitulo.ToShortDateString()     </td>
                        <td> @c.datapagamento.ToShortDateString()      </td>
                        <td> @c.valor </td>
                        <td> @c.fonte </td>
                        <td> @c.codigo </td>
                        <td> @c.lote </td>
                        <td> @c.pago </td>


                    </tr>
                }
            }
        }


    </table>
    <text> valor total dos pagamentos  @Html.Raw(ViewBag.subtotal)</text>

    <h3> lista de inadimplentes </h3>




    <table cellspacing="2" cellpadding="2" border="1">
        <tr>


            <th>     Nome        </th>

        </tr>



        @foreach (var p in ViewBag.listaInadimplentes)
        {


            <tr>
                <td> @p.Nome </td>               
            </tr>

        }


    </table>





</body>
</html>

